.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82vw;
  height: 80vh;
  font-size: 0.9em;
  margin-right: 20px;
}

.project-container .project-info-container {
  margin-right: 10px;
}

.project-container .project-info-container > * {
  padding: 5px 0 5px 0;
}

.project-container .project-type {
  font-size: 1.4em;
  font-style: italic;
  margin: 0;
  border-bottom: 1px solid #f5f1ed;
}

.project-container .project-title {
  font-size: 2.1em;
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 15px 0 15px 0;
}

.project-container .project-title .project-title-link {
  text-decoration: none;
  -webkit-transition: color 0.35s linear;
  transition: color 0.35s linear;
}

.project-container .project-tech-table {
  width: 60%;
}

.project-container .project-tech-table th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project-container .project-tech-table td {
  text-align: left;
  width: 25%;
}

.project-container .pdf-download-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project-container .pdf-download-container .pdf-download {
  position: relative;
  color: #f5f1ed;
  font-weight: 400;
  margin-right: 4px;
  text-decoration: none;
  font-size: 1.1em;
}

.project-container .window-link-container {
  height: 70%;
  width: auto;
  -webkit-transition: -webkit-box-shadow 0.35s linear;
  transition: -webkit-box-shadow 0.35s linear;
  transition: box-shadow 0.35s linear;
  transition: box-shadow 0.35s linear, -webkit-box-shadow 0.35s linear;
  cursor: pointer;
}

.project-container .window-link-container img {
  height: 100%;
  width: auto;
}

.link-underline {
  content: "";
  position: absolute;
  bottom: 0%;
  height: 2px;
  width: 0%;
  left: 0%;
  -webkit-transition: width linear 0.2s;
  transition: width linear 0.2s;
}

.active {
  width: 100%;
}

@media (max-width: 990px) {
  .project-container .window-link-container {
    height: 65%;
  }
}

@media (max-width: 940px) {
  .project-container {
    font-size: 0.8em;
  }
  .project-container .window-link-container {
    height: 60%;
  }
}

@media (max-width: 870px) {
  .project-container .window-link-container {
    height: 55%;
  }
}

@media (max-width: 750px) {
  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-container .project-title {
    margin: 10px 0 10px 0;
  }
  .project-container .window-link-container {
    height: 50%;
  }
}

@media (max-width: 650px) {
  .project-container {
    font-size: 0.75em;
  }
}

@media (max-width: 610px) {
  .project-container {
    font-size: 0.7em;
  }
  .project-container .window-link-container {
    height: 45%;
  }
}

@media (max-width: 530px) {
  .project-container .window-link-container {
    height: 35%;
  }
}

@media screen and (orientation: portrait) {
  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  .project-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=Project.css.map */