.carousel-provider {
  .slider {
    height: 100vh;
  }
  .dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: 5%;
    height: 110px;
    button {
      position: relative;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      background-color: #f5f1ed;
      border: none;
    }
    .carousel__dot--selected {
      height: 12px;
      width: 12px;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1.5px inset #f5f1ed;
        border-radius: 50%;
        height: 19px;
        width: 19px;
      }
    }
  }
}
