.carousel {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  .slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    .slide {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      min-height: 100vh;
      transition: 1.5s;
      padding-top: 10rem;
      .next-btn,
      .prev-btn {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        cursor: pointer;
        z-index: 300;
      }
      .next-btn {
        bottom: 0.4rem;
      }
      .prev-btn {
        top: 12rem;
      }
    }
  }
}
