@import "./colours.scss";

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  height: 90%;
  font-size: 0.9em;
  .project-info-container {
    margin-right: 10px;
  }
  .project-info-container > * {
    padding: 5px 0 5px 0;
  }
  .project-type {
    font-size: 1.4em;
    font-style: italic;
    margin: 0;
    border-bottom: 1px solid $color-pearl;
  }
  .project-title {
    font-size: 2.1em;
    position: relative;
    max-width: max-content;
    margin: 15px 0 15px 0;
    .project-title-link {
      text-decoration: none;
      transition: color 0.35s linear;
    }
  }

  .project-tech-table {
    width: 60%;
    th {
      display: flex;
      justify-content: flex-start;
    }
    td {
      text-align: left;
      width: 25%;
    }
  }
  .pdf-download-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .pdf-download {
      position: relative;
      color: $color-pearl;
      font-weight: 400;
      margin-right: 4px;
      text-decoration: none;
      font-size: 1.1em;
    }
  }

  .window-link-container {
    height: 90%;
    transition: box-shadow 0.35s linear;
    cursor: pointer;
    img {
      height: 100%;
    }
    a {
      height: 100%;
      width: 100%;
    }
  }
}

.link-underline {
  content: "";
  position: absolute;
  bottom: 0%;
  height: 2px;
  width: 0%;
  left: 0%;
  transition: width linear 0.2s;
}
.active {
  width: 100%;
}

@media (max-width: 1010px) {
  .project-container {
    .window-link-container {
      height: 85%;
    }
  }
}

@media (max-width: 977px) {
  .project-container {
    .window-link-container {
      height: 80%;
    }
  }
}

@media (max-width: 934px) {
  .project-container {
    .window-link-container {
      height: 75%;
    }
  }
}

@media (max-width: 887px) {
  .project-container {
    font-size: 0.8em;
    .window-link-container {
      height: 70%;
    }
  }
}

@media (max-width: 819px) {
  .project-container {
    .window-link-container {
      height: 65%;
    }
  }
}

@media (max-width: 780px) {
  .project-container {
    width: 92%;
  }
}

@media (max-width: 700px) {
  .project-container {
    .window-link-container {
      height: 60%;
    }
  }
}

@media (max-width: 658px) {
  .project-container {
    .window-link-container {
      height: 55%;
    }
  }
}
@media (max-width: 617px) {
  .project-container {
    font-size: 0.75em;
    .window-link-container {
      height: 50%;
    }
  }
}

@media (max-width: 567px) {
  .project-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 85%;
    margin-bottom: 20px;
    .project-info-container {
      margin-right: 0;
    }
  }
}

@media (max-width: 430px) {
  .project-container {
    font-size: 0.65em;
    .window-link-container {
      height: 43%;
    }
  }
}

@media (max-width: 385px) {
  .project-container {
    .window-link-container {
      height: 40%;
    }
  }
}
