@import "./colours.scss";

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 75%;
  font-size: 0.9em;
  .project-info-container {
    margin-right: 10px;
  }
  .project-info-container > * {
    padding: 5px 0 5px 0;
  }
  .project-type {
    font-size: 1.4em;
    font-style: italic;
    margin: 0;
    border-bottom: 1px solid $color-pearl;
  }
  .project-title {
    font-size: 2.1em;
    text-decoration: none;
    color: $color-pearl;
    width: max-content;
    div {
      margin: 15px 0 15px 0;
    }
  }

  .project-tech-table {
    width: 60%;

    th {
      display: flex;
      justify-content: flex-start;
    }
    td {
      text-align: left;
      width: 25%;
    }
  }
  .pdf-download-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .pdf-download {
      color: $color-pearl;
      margin-right: 4px;
    }
  }

  .window-link {
    height: 90%;
    transition: box-shadow 0.35s linear;
    img {
      height: 100%;
      border: 1px solid $color-pearl;
    }
  }
}
