@import "./colours.scss";

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 75%;
  font-size: 0.9em;
  .project-info-container {
    margin-right: 10px;
  }
  .project-info-container > * {
    padding: 5px 0 5px 0;
  }
  .project-type {
    font-size: 1.4em;
    font-style: italic;
    margin: 0;
    border-bottom: 1px solid $color-pearl;
  }
  .project-title {
    font-size: 2.1em;
    position: relative;
    max-width: max-content;
    margin: 15px 0 15px 0;
    .project-title-link {
      text-decoration: none;
      transition: color 0.35s linear;

    }
 
  }

  .project-tech-table {
    width: 60%;
    th {
      display: flex;
      justify-content: flex-start;
    }
    td {
      text-align: left;
      width: 25%;
    }
  }
  .pdf-download-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .pdf-download {
      position: relative;
      color: $color-pearl;
      font-weight: 400;
      margin-right: 4px;
      text-decoration: none;
      font-size: 1.1em;

    }
  }

  .window-link {
    height: 90%;
    transition: box-shadow 0.35s linear;
    img {
      height: 100%;
      border: 1px solid $color-pearl;
    }
  }
}

.link-underline {
  content: "";
  position: absolute;
  bottom: 0%;
  height: 2px;
  width: 0%;
  left: 0%;
  transition: width linear 0.2s;
}
.active {
  width: 100%;
}

@media (max-width: 780px) {
  .project-container {
    flex-direction: column;
    font-size: 0.8em;
    .project-info-container {
      margin-right: 0;
    }
  }
}

@media (max-width: 510px) {
  .project-container {
    font-size: 0.75em;
  }
}

@media (max-width: 430px) {
  .project-container {
    font-size: 0.7em;
  }
}
